{% extends "layouts/base.html" %}

{% load static i18n %}

{# djlint:off #}
{% block title %}{% translate "Devolución de pasajes" %}{% endblock title %}
{% block description %}{% translate "¿Cambio de planes? Acá podes devolver tus pasajes de micro. Con Ventanita es muy fácil solo necesitas tu e-mail y código de reserva." %}{% endblock description %}


{# djlint:on #}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-9 col-lg-6 mx-auto">
      <div class="card card-plain">
        <div class="card-header pb-0">
          <h1 class="fs-4">{% translate "Devolución de pasajes" %}</h1>
          <p>{% translate "Ingresá tu código de reserva y email y te buscamos tus pasajes." %}</p>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="mb-3">
                <label class="form-label text-sm mb-0" for="{{ field.auto_id }}{% if field.label == 'Captcha' %}_1{% endif %}">
                  {{ field.label }}
                </label>
                <p class="text-sm text-danger mb-1">{{ field.errors.as_text }}</p>
                {{ field }}
                <div class="form-text ms-2 mt-0" id="{{ field.auto_id }}_helptext">
                  <small>{{ field.help_text|safe }}</small>
                </div>
              </div>
            {% endfor %}
            <div class="form-check form-check-info text-left ms-2">
              <input class="form-check-input" type="checkbox" value="" id="termsCheckbox" required />
              <label class="form-check-label text-muted" for="termsCheckbox">
                {% translate "Estoy de acuerdo con los" %} <a href="/condiciones-generales/" target="_blank">{% translate "Condiciones Generales" %}</a>
              </label>
            </div>
            <div class="d-flex justify-content-between mt-5">
              <button class="btn btn-lg bg-gradient-primary w-100" type="submit">{% translate "Buscar" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
