{% extends "layouts/base.html" %}

{% load i18n static %}

{% block title %}
  {% translate "404 Not found" %}
{% endblock title %}

{% block body_class %}
  template-404
{% endblock body_class %}

{% block content %}
  <div class="container pt-7 min-vh-50">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="alert alert-warning" role="alert">
          <h1 class="alert-heading">{% translate "Error 404" %}</h1>
          <p>{% translate "Uff. Page not found" %}</p>
          <p>{% translate "We suggest you to go to the homepage while we solve this issue." %}</p>
          <a href="{% url 'wagtail_serve' '' %}" class="alert-link icon-link icon-link-hover">
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
            </svg>
          {% translate "Go back Home" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
