{% extends "layouts/base.html" %}

{% block title %}
  Styleguide
{% endblock title %}

{% block content %}
  <div class="container pt-7">
    <h1 class="text-center">Styleguide 🌈</h1>
    <h3>Headers</h3>

    {% include "includes/header-card.html" %}
    {% include "includes/header-chips.html" %}
    {% include "includes/header-curvy.html" %}
    {% include "includes/header-hero.html" %}
    {% include "includes/header-slant.html" %}

    <div class="card">
      <div class="card-header">
        <h5>Buttons</h5>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
        <hr />
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <button type="button" class="btn btn-outline-link">Link</button>
        <hr />
        <button type="button" class="btn bg-gradient-primary">Primary</button>
        <button type="button" class="btn bg-gradient-secondary">Secondary</button>
        <button type="button" class="btn bg-gradient-info">Info</button>
        <button type="button" class="btn bg-gradient-warning">Warning</button>
        <button type="button" class="btn bg-gradient-success">Success</button>
        <button type="button" class="btn bg-gradient-danger">Danger</button>
        <button type="button" class="btn bg-gradient-light">Light</button>
        <button type="button" class="btn bg-gradient-dark">Dark</button>
        <button type="button" class="btn bg-gradient-link">Link</button>
        <hr />
      </div>
    </div>
  </div>
{% endblock content %}
