{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
  Styleguide
{% endblock title %}

{% block content %}
  <section class="container pt-7">
    <h1 class="text-center">Styleguide 🌈</h1>
    <h3>Headers</h3>

    {% include "includes/header-card.html" %}
    {% include "includes/header-chips.html" %}
    {% include "includes/header-curvy.html" %}
    {% include "includes/header-hero.html" %}
    {% include "includes/header-slant.html" %}

    <div class="card">
      <div class="card-header">
        <h5>Buttons</h5>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
        <hr />
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <button type="button" class="btn btn-outline-link">Link</button>
        <hr />
        <button type="button" class="btn bg-gradient-primary">Primary</button>
        <button type="button" class="btn bg-gradient-secondary">Secondary</button>
        <button type="button" class="btn bg-gradient-info">Info</button>
        <button type="button" class="btn bg-gradient-warning">Warning</button>
        <button type="button" class="btn bg-gradient-success">Success</button>
        <button type="button" class="btn bg-gradient-danger">Danger</button>
        <button type="button" class="btn bg-gradient-light">Light</button>
        <button type="button" class="btn bg-gradient-dark">Dark</button>
        <button type="button" class="btn bg-gradient-link">Link</button>
        <hr />
      </div>
    </div>
    <article class="mt-3">
      <h3>Shadows</h3>
      <div class="d-flex flex-wrap gap-3">
        <div class="card shadow-none">
          <div class="card-header">
            <h5>Shadow None</h5>
          </div>
          <div class="card-body">{% lorem %}</div>
        </div>
        <div class="card shadow-xs">
          <div class="card-header">
            <h5>Shadow XS</h5>
          </div>
          <div class="card-body">{% lorem %}</div>
        </div>
        <div class="card shadow-lg">
          <div class="card-header">
            <h5>Shadow Large</h5>
          </div>
          <div class="card-body">{% lorem %}</div>
        </div>
        <div class="card shadow-xl">
          <div class="card-header">
            <h5>Shadow XL</h5>
          </div>
          <div class="card-body">{% lorem %}</div>
        </div>
        <div class="card blur">
          <div class="card-header">
            <h5>Shadow Blur</h5>
          </div>
          <div class="card-body">{% lorem %}</div>
        </div>
      </div>
    </article>
  </section>
{% endblock content %}
