{% extends "layouts/base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags wagtailadmin_tags navigation_tags %}

{% block content %}
  <div class="container pt-7">
    {% breadcrumbs %}
    {% image page.logo original %}
    <section class="py-3 py-md-5">
      {{ page.contact }}
    </section>
    {{ page.body }}
    {% if page.faq %}
      <section class="py-3 py-md-5">
        <h2 class="text-center">FAQ</h2>
        {{ page.faq }}
      </section>
    {% endif %}
  </div>
{% endblock content %}
