{% extends "layouts/base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% include "includes/header-hero.html" %}
    <div class="container">
        <div class="row">
            {% for partner in partners %}
                <div class="col-md-3">
                    <div class="card card-plain mx-3 mx-md-0">
                        <div class="card-body px-1 pt-3">
                            <h5>
                                <a href="{% pageurl partner %}">{{ partner }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% include "includes/pagination.html" %}
    </div>
{% endblock content %}
