{% extends "layouts/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block content %}
  <article class="container">
    {% breadcrumbs %}
    <h1 class="fs-2">{% translate "Empresas de Micro" %}</h1>
    <section class="py-3 row row-cols-1 row-cols-md-4">
      {% for partner in partners %}
        <div class="col">
          <a href="{% pageurl partner %}">{{ partner }}</a>
        </div>
      {% endfor %}
    </section>
    <section class="py-3">
      <h2 class="fs-5 pb-3">¡Comprá tu pasajes en Ventanita!</h2>
      <p>
        En <a href="https://ventanita.com.ar" class="fw-bold">ventanita.com.ar</a> podes buscar y
        comparar los mejores precios de micros en Argentina y paises limitrofes, así como también obtener información detallada sobre las rutas y los horarios de partida. Averigua los promociones vigentes y comience a disfrutar de su viaje sin complicaciones.
      </p>
    </section>
    <section class="py-3">
      {% include "includes/featured-companies.html" %}
    </section>
    <section class="py-3">
      {% include "includes/mission.html" %}
    </section>
  </article>
  {% include "includes/seo_links.html" %}
{% endblock content %}

{% block extra_js %}
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
