{% extends "layouts/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block content %}
  <article id="content" class="container col-12 col-xl-9 mt-3">
    <h1 class="fs-2">{{ page.title }}</h1>
    <div class="row">
      <div class="col-4 col-md-2 mx-auto">{% image page.logo original class="img-fluid" loading="lazy" %}</div>
    </div>
    {% comment %}
    <section class="py-3 py-md-5">

      {% include 'includes/search_form.html' %}

    </section>
    {% endcomment %}
    <section class="py-3">
      {% breadcrumbs %}
    </section>
    {% if page.hero_image %}
      <figure class="figure d-block py-3">
        {% image page.hero_image original format-avif loading="lazy" class="figure-img img-fluid rounded-3 d-block shadow-xl" %}
        <figcaption class="figure-caption text-center text-xs">{{ page.image.caption }}</figcaption>
      </figure>
    {% endif %}
    {% if page.intro %}
      <section class="py-3 py-md-5">
        <h2 class="lead">{{ page.intro }}</h2>
      </section>
    {% endif %}
    {% if page.body %}
      <section class="pb-3 pb-md-5">
        {{ page.body }}
      </section>
    {% endif %}
    {% if page.destinations %}
      <section class="py-3 py-md-5">
        {{ page.destinations }}
      </section>
    {% endif %}
    {% if page.faq %}
      <section class="py-3 py-md-5">
        {{ page.faq }}
      </section>
    {% endif %}
    <section class="py-3 py-md-5">
      <h2 class="fs-5 pb-3">¡Comprá tu pasaje con {{ page.title }}!</h2>
      <p>
        En <a href="https://ventanita.com.ar">ventanita.com.ar</a> podes buscar y
        comparar los mejores precios de pasajes de {{ page.title }}, así como también obtener información detallada sobre las rutas y los horarios de partida. Averigua los promociones vigentes y comience a disfrutar de su viaje sin complicaciones.
      </p>
    </section>
    {% if page.links %}
      <section class="py-3 py-md-5">
        {{ page.links }}
      </section>
    {% endif %}
    <section class="py-3 py-md-5">

      {% include "includes/featured-companies.html" %}

    </section>
    <section class="py-3 py-md-5">

      {% include "includes/cta.html" %}

    </section>
    <section class="py-3 py-md-5">

      {% include "includes/mission.html" %}

    </section>
  </article>
{% endblock content %}

{% block modal %}

  {% include 'includes/offcanvas.html' %}

{% endblock modal %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/autocomplete/autocomplete.min.js' %}"></script>
  <script defer src="{% static 'assets/js/dates/flatpickr.min.js' %}"></script>
  <script defer src="{% static 'assets/js/dates/es.js' %}"></script>
  <script defer src="{% static 'assets/js/search.js' %}"></script>
  {# djlint:off #}
  <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
