{% extends "layouts/base.html" %}

{% load wagtailimages_tags %}

{% block breadcrumb %}
  {# Don't show breadcrumbs in standard pages #}
{% endblock breadcrumb %}

{% block content %}

  {% include "base/includes/header-hero.html" %}

  <div class="row">
    <div class="col-10 col-md-8 mx-auto">{{ page.body }}</div>
  </div>
{% endblock content %}

{% block extra_js %}
  {# djlint:off #}
    <script type="application/ld+json">{% global_schema_markup wagtail_site %}</script>
  {# djlint:on #}
{% endblock extra_js %}
