{% load wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <h1>City: {{ page.title }}</h1>
        <ul>
            <li>
                Image:
                {% image page.image width-800 %}
            </li>
            <li>Country: {{ page.country }}</li>
            <li>Intro: {{ page.intro }}</li>
        </ul>
        <ul>
            {% for station in stations %}
                <li>
                    Station: <a href="{% pageurl station %}">{{ station }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
