{% extends "layouts/base.html" %}

{% load static i18n navigation_tags wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />
{% endblock extra_css %}

{% block content %}
  <div class="container pt-7">
    {% breadcrumbs %}
    <h1>{{ page.title }}</h1>
    {% picture page.image format-{avif,webp,jpeg} width-800 class="img-fluid border-radius-xl" %}
    <article>{{ page.intro }}</article>
    <article>
      <div class="d-flex flex-column align-items-center">
        <svg class="bi" width="100" height="100" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#color-map" />
        </svg>
        <h3 class="py-3">{% translate "Where is " %}{{ page.title }}?</h3>
      </div>
      <div id="map" class="min-vh-50 rounded-3"></div>
      <h3 class="py-3 text-center">{% translate "Address: " %}{{ page.address }}</h3>
    </article>
    <article>{{ page.body }}</article>
    {{ lat_long|json_script:"coordinates" }}
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <script type="text/javascript" src="{% static 'assets/js/maps/station.js' %}"></script>
{% endblock extra_js %}
