{% load static %}

<section>
  <div class="bg-gradient-dark m-3 border-radius-xl">
    <div class="row py-7">
      <div class="col-md-7 mx-auto text-center">
        <h3 class="text-white mb-0">Would you also live to travel</h3>
        <h3 class="text-primary text-gradient mb-4">to the best destinations in the world?</h3>
        <p class="text-white mb-5">
          Cause if you do, you can participate in the upcoming contest where we are offering free tickets for travelling. Start your holiday trip with us and explore the world!
        </p>
        <a href="" class="btn bg-gradient-primary mb-3 me-3 mb-sm-0">Sign up for free</a>
      </div>
    </div>
  </div>
</section>
