{% load static wagtailcore_tags %}
<h2 class="fs-5 pb-3">Empresas destacadas</h2>
<div class="row gy-3">
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="{% slugurl 'andesmar' %}">
      <img class="img-fluid" loading="lazy" src="{% static 'assets/img/company-logos/logo-andesmar.png' %}" alt="Logo of Andesmar" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="{% slugurl 'costera-criolla' %}">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-costera-criolla.png' %}"
           alt="Logo of Costera Criolla" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="{% slugurl 'chevallier' %}">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-chevallier.png' %}"
           alt="Logo of Chevallier" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="{% slugurl 'empresa-argentina' %}">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-empresa-argentina.png' %}"
           alt="Logo of Empresa Argentina" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="{% slugurl 'flecha-bus' %}">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-flecha-bus.png' %}"
           alt="Logo of Flecha Bus" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="{% slugurl 'plusmar' %}">
      <img class="img-fluid" loading="lazy" src="{% static 'assets/img/company-logos/logo-plusmar.png' %}" alt="Logo of Plusmar" />
    </a>
  </div>
</div>
