{% load i18n static %}
{% load wagtailcore_tags navigation_tags %}

<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mb-4 ms-auto">
        <p class="font-weight-bolder">
          <a href="/" class="link-dark">Ventanita</a>
        </p>
        <ul class="d-flex flex-row ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ settings.base.GenericSettings.facebook_url }}" aria-label="Facebook Page">
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#facebook" />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ settings.base.GenericSettings.instagram_url }}" aria-label="Instagram Page">
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#instagram" />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ settings.base.GenericSettings.youtube_url }}" aria-label="Youtube Page">
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#youtube" />
              </svg>
            </a>
          </li>
        </ul>
        <div class="d-flex mt-3 mb-2">
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <label class="form-label visually-hidden" for="choose-language">{% translate "Idioma" %}</label>
            <div class="input-group input-group-sm mb-3">
              <select name="language" id="choose-language" class="form-select form-select-sm bg-transparent">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name }}
                  </option>
                {% endfor %}
              </select>
              <button class="btn btn-outline-primary mb-0" type="submit">Go</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <p class="fw-bold">{% translate "Empresa" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/about/">{% translate "Sobre nosotros" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">{% translate "Blog" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <p class="fw-bold">{% translate "Info Útil" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/pasajes-de-micro/">{% translate "Terminales de Bus" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/empresas-de-bus/">{% translate "Empresas de Bus" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <p class="fw-bold">{% translate "Soporte" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/contact/">{% translate "Contacto" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ayuda/">{% translate "Ayuda" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback/">{% translate "Comentarios" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <p class="fw-bold">{% translate "Enlaces Útiles" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/condiciones-generales/">{% translate "Condiciones Generales" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/politicas-de-privacidad/">{% translate "Politicas de Privacidad" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sitemap/">{% translate "Mapa del sitio" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="mt-4 nav-link">
            {% translate "Copyright" %} ©
            <script>
                 document.write(new Date().getFullYear());
            </script>
            {% translate " Made with ❤️ in Argentina 🇦🇷" %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
