{% load i18n static %}
{% load wagtailcore_tags navigation_tags %}

<footer class="footer">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-md-10 mx-auto">
        <h2 class="fs-5 pb-3">Explorá Micros</h2>
        <div class="accordion accordion-flush" id="accordionLinks">
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed fw-bold ps-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTerminals"
                      aria-expanded="false"
                      aria-controls="flush-collapseTerminals">Terminales de Ómnibus</button>
            </h3>
            <div id="flush-collapseTerminals" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
              <div class="accordion-body ps-0">
                <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-retiro/">Terminal de Retiro</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-cordoba/">Terminal de Córdoba</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-rosario/">Terminal de Rosario</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-mar-del-plata/">Terminal de Mar Del Plata</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-mendoza/">Terminal de Mendoza</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-salta/">Terminal de Salta</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-tucuman/">Terminal de Tucuman</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-san-luis/">Terminal de San Luis</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-terminal-de-neuquen/">Terminal de Neuquén</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-terminal-de-san-juan/">Terminal de San Juan</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-terminal-de-jujuy/">Terminal de Jujuy</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/terminal-de-santa-fe/">Terminal de Santa Fe</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed fw-bold ps-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseRoutes"
                      aria-expanded="false"
                      aria-controls="flush-collapseRoutes">Rutas Populares en Argentina</button>
            </h3>
            <div id="flush-collapseRoutes" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
              <div class="accordion-body ps-0">
                <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-mar-del-plata/">Micro de Buenos Aires a Mar
                    Del Plata</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-mendoza/">Micro de Buenos Aires a Mendoza</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-asuncion-del-paraguay/">Micro de Buenos Aires a
                    Asunción</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-puerto-iguazu/">Micro de Buenos Aires a
                    Puerto Iguazú</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed fw-bold ps-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseDestinations"
                      aria-expanded="false"
                      aria-controls="flush-collapseDestinations">Destinos Populares en Argentina</button>
            </h3>
            <div id="flush-collapseDestinations" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
              <div class="accordion-body ps-0">
                <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-mar-del-plata/">Pasajes a Mar Del Plata</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-buenos-aires/">Pasajes a Buenos Aires</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-cordoba/">Pasajes a Córdoba</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-mendoza/">Pasajes a Mendoza</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-san-carlos-de-bariloche/">Pasajes a Bariloche</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-bahia-blanca/">Pasajes a Bahía Blanca</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-santa-fe/">Pasajes a Santa Fe</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-tucuman/">Pasajes a Tucumán</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-posadas/">Pasajes a Posadas</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-resistencia/">Pasajes a Resistencia</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-corrientes/">Pasajes a Corrientes</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-asuncion-del-paraguay/">Pasajes a Asunción</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 mb-4 ms-auto">
        <p class="font-weight-bolder">
          <a href="/" class="link-dark">Ventanita</a>
        </p>
        <ul class="d-flex flex-row ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ settings.base.GenericSettings.facebook_url }}" aria-label="Facebook Page">
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#facebook" />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ settings.base.GenericSettings.instagram_url }}" aria-label="Instagram Page">
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#instagram" />
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ settings.base.GenericSettings.youtube_url }}" aria-label="Youtube Page">
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#youtube" />
              </svg>
            </a>
          </li>
        </ul>
        <div class="d-flex mt-3 mb-2">
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <label class="form-label visually-hidden" for="choose-language">{% translate "Idioma" %}</label>
            <div class="input-group input-group-sm mb-3">
              <select name="language" id="choose-language" class="form-select form-select-sm bg-transparent">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name }}
                  </option>
                {% endfor %}
              </select>
              <button class="btn btn-outline-primary mb-0" type="submit">Go</button>
            </div>
          </form>
        </div>
        <p class="text-sm">
          <a href="https://ventanita.com.ar" class="me-2">Argentina</a>
          <a href="https://ventanita.com.py">Paraguay</a>
        </p>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <p class="fw-bold">{% translate "Empresa" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/about/">{% translate "Sobre nosotros" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">{% translate "Blog" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <p class="fw-bold">{% translate "Info Útil" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/pasajes-de-micro/">{% translate "Terminales de Bus" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/empresas-de-bus/">{% translate "Empresas de Bus" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <p class="fw-bold">{% translate "Soporte" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/contact/">{% translate "Contacto" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ayuda/">{% translate "Ayuda" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback/">{% translate "Comentarios" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <p class="fw-bold">{% translate "Enlaces Útiles" %}</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item">
            <a class="nav-link" href="/condiciones-generales/">{% translate "Condiciones Generales" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/politicas-de-privacidad/">{% translate "Politicas de Privacidad" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sitemap/">{% translate "Mapa del sitio" %}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 col-lg-2"></div>
    </div>
    <div class="d-flex justify-content-center">
      <p class="mt-4 nav-link">
        {% translate "Copyright" %} ©
        <script>
             document.write(new Date().getFullYear());
        </script>
        {% translate " Made with ❤️ in Argentina 🇦🇷" %}
      </p>
    </div>
  </div>
</div>
</footer>
