{% load static %}

<header class="header-rounded-images mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-absolute bg-transparent shadow-none">
        <div class="container">
            <a class="navbar-brand text-white" href="javascript:;">Soft</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar-header-9"
                    aria-controls="navbar-header-9"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-header-9">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="javascript:;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="javascript:;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="javascript:;">Contact Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://twitter.com/CreativeTim">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.facebook.com/CreativeTim">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.instagram.com/CreativeTimOfficial">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-center py-sm-0 py-7">
                    <h1 class="text-white">Our company mission is to lead the</h1>
                    <p class="text-white text-lg-start text-center pe-5 mt-4">
                        The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color.
                    </p>
                    <br />
                    <div class="buttons">
                        <button type="button" class="btn btn-lg bg-gradient-primary btn-rounded">Contact Us</button>
                        <button type="button" class="btn btn-lg btn-outline-white btn-rounded ms-xl-3">Read More</button>
                    </div>
                    <div class="row mt-5 justify-content-start">
                        <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="{% static 'assets/img/logos/gray-logos/logo-pinterest.svg' %}" alt="logo">
                        </div>
                        <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="{% static 'assets/img/logos/gray-logos/logo-netflix.svg' %}" alt="logo">
                        </div>
                        <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="{% static 'assets/img/logos/gray-logos/logo-coinbase.svg' %}" alt="logo">
                        </div>
                        <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="{% static 'assets/img/logos/gray-logos/logo-nasa.svg' %}" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-end position-relative">
                    <div class="position-absolute top-0 w-100">
                        {% comment %} <img src="{% static 'assets/img/team-2.jpg' %}" class="position-absolute rounded-circle img-1 d-lg-block d-none z-index-3" alt="avatar">
                        <img src="{% static 'assets/img/shapes/shape-3.svg' %}" class="top-0 end-0 position-absolute shape-3 d-lg-block d-none" alt="shape">
                        <img src="{% static 'assets/img/shapes/shape-2.svg' %}" class="mt-4 position-absolute shape-2 d-lg-block d-none" alt="shape">
                        <img src="{% static 'assets/img/shapes/shape-1.svg' %}" class="mt-n6 position-absolute shape-1 d-lg-block d-none" alt="shape">
                        <img src="{% static 'assets/img/team-3.jpg' %}"
                             class="position-absolute rounded-circle img-2 d-lg-block d-none z-index-3"
                             alt="avatar"> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="min-vh-100 w-100 position-absolute mt-sm-n11 top-0 d-lg-none d-block" style="background: #101010;"></div>
        <div class="min-vh-100 w-75 position-absolute border-radius-section ms-n10 mt-n10 top-0 d-lg-block d-none"
             style="background: #101010"></div>
        <div class="min-vh-75 w-50 blur-section blur-gradient-primary position-absolute border-top-start-radius-0 border-top-end-radius-0 border-bottom-end-radius-0 border-radius-section mt-n8 me-n4 top-0 end-0 d-lg-block d-none">
        </div>
    </div>
</header>
