{% load static i18n wagtailuserbar %}

<header>
  {% wagtailuserbar %}
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">Ventanita</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="navigation"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <a id="offcanvasNavbarLabel" class="navbar-brand fw-bold" href="/">Ventanita</a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto align-items-center">
            {% if request.user.is_superuser %}
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 cursor-pointer" data-bs-toggle="modal" data-bs-target="#sessionModal">
                  Session
                  <svg class="bi ms-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-down" />
                  </svg>
                </a>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'account_login' %}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="btn bg-gradient-primary btn-sm btn-round mb-0" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
