{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <article class="container col-12 col-xl-9 min-vh-75">
    <h1 class="display-2 text-center">Bus</h1>
    <section class="py-3 py-md-5">

      {% include 'includes/search_form.html' %}

    </section>
    <section class="py-3">
      {{ page.promotions }}
    </section>
    <section class="py-3">
      {{ page.featured_pages }}
    </section>
    <section class="py-3">
      {{ page.faq }}
    </section>
    <section class="py-3">
      {{ page.links }}
    </section>
    <section class="py-3 py-md-5">

      {% include "includes/featured-companies.html" %}

    </section>
    <section class="py-3 py-md-5">
      <h2 class="fs-5 pb-3 text-center">Ventanita - Tu Travel Partner</h2>
      <p class="text-sm text-center">
        En <a href="/">Ventanita</a>, te ofrecemos una plataforma sencilla y segura para la compra de pasajes de micros
        en <a href="/pasajes-de-micro/">Argentina</a>.
        Con nuestra amplia variedad de opciones de rutas, podrás planificar tu próximo viaje con facilidad.
        Desde <a href="/pasajes-de-micro/pasajes-a-buenos-aires/">Buenos Aires</a> hasta el norte, sur y oeste del
        país, selecciona entre las principales <a href="/empresas-de-bus/">empresas de transporte</a>,
        compara precios y horarios, y adquiere tus boletos en solo unos clics.
      </p>
      <p class="text-sm text-center">
        Descubre destinos como <a href="/pasajes-de-micro/pasajes-a-cordoba/">Córdoba</a>, <a href="/pasajes-de-micro/pasajes-a-mendoza/">Mendoza</a>,
        <a href="/pasajes-de-micro/pasajes-a-rosario/">Rosario</a> y muchos más, y viaja cómodamente a precios competitivos.
      </p>
      <p class="text-sm text-center">
        Además de la compra de pasajes, en <a href="/">Ventanita</a> también encontrarás información detallada sobre las empresas de colectivos
        y sus servicios, como las comodidades a bordo, políticas de equipaje, y promociones especiales. Si eres un viajero
        frecuente, consulta nuestras opciones de billetes flexibles y descuentos para grupos. Accede a nuestra plataforma desde
        cualquier dispositivo, ya sea para reservar tu viaje o para obtener detalles sobre los horarios y las mejores
        conexiones de bus entre las principales ciudades de Argentina.
      </p>
    </section>
    {% if page.body %}
      <section class="py-3">
        {{ page.body }}
      </section>
    {% endif %}
    <section class="py-3">
      <h2 class="fs-5 pb-3">Explorá Micros</h2>
      <div class="accordion accordion-flush" id="accordionLinks">
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed fw-bold ps-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTerminals"
                    aria-expanded="false"
                    aria-controls="flush-collapseTerminals">Terminales de Ómnibus</button>
          </h3>
          <div id="flush-collapseTerminals" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
            <div class="accordion-body ps-0">
              <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-retiro/">Terminal de Retiro</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-cordoba/">Terminal de Córdoba</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-rosario/">Terminal de Rosario</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-mar-del-plata/">Terminal de Mar Del Plata</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-mendoza/">Terminal de Mendoza</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-salta/">Terminal de Salta</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-tucuman/">Terminal de Tucuman</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-san-luis/">Terminal de San Luis</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-terminal-de-neuquen/">Terminal de Neuquén</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-terminal-de-san-juan/">Terminal de San Juan</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-terminal-de-jujuy/">Terminal de Jujuy</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/terminal-de-santa-fe/">Terminal de Santa Fe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed fw-bold ps-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseRoutes"
                    aria-expanded="false"
                    aria-controls="flush-collapseRoutes">Rutas Populares en Argentina</button>
          </h3>
          <div id="flush-collapseRoutes" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
            <div class="accordion-body ps-0">
              <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-mar-del-plata/">Micro de Buenos Aires a Mar
                  Del Plata</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-mendoza/">Micro de Buenos Aires a Mendoza</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-asuncion-del-paraguay/">Micro de Buenos Aires a
                  Asunción</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-de-buenos-aires-a-puerto-iguazu/">Micro de Buenos Aires a
                  Puerto Iguazú</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed fw-bold ps-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseDestinations"
                    aria-expanded="false"
                    aria-controls="flush-collapseDestinations">Destinos Populares en Argentina</button>
          </h3>
          <div id="flush-collapseDestinations" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
            <div class="accordion-body ps-0">
              <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-mar-del-plata/">Pasajes a Mar Del Plata</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-buenos-aires/">Pasajes a Buenos Aires</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-cordoba/">Pasajes a Córdoba</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-mendoza/">Pasajes a Mendoza</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-san-carlos-de-bariloche/">Pasajes a Bariloche</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-bahia-blanca/">Pasajes a Bahía Blanca</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-santa-fe/">Pasajes a Santa Fe</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-tucuman/">Pasajes a Tucumán</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-posadas/">Pasajes a Posadas</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-resistencia/">Pasajes a Resistencia</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-corrientes/">Pasajes a Corrientes</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-asuncion-del-paraguay/">Pasajes a Asunción</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock content %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/autocomplete/autocomplete.min.js' %}"></script>
  <script defer src="{% static 'assets/js/dates/flatpickr.min.js' %}"></script>
  <script defer src="{% static 'assets/js/dates/es.js' %}"></script>
  <script defer src="{% static 'assets/js/search.js' %}"></script>
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
