{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <article class="container">
    <h1>Argentina en Micro</h1>
    <a href="/terminales-de-micro/" class="me-2">Terminales</a>
    <a href="/empresas-de-bus/">Empresas</a>
    <section class="py-3">
      {{ page.faq }}
    </section>
    <section class="py-3">
      {{ page.links }}
    </section>
    {% if page.body %}
      <section class="py-3">
        {{ page.body }}
      </section>
    {% endif %}
  </article>
  {% include "includes/seo_links.html" %}
{% endblock content %}

{% block extra_js %}
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
