{% load static wagtailimages_tags %}

<div class="row gx-4">
    <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
            {% comment "TODO" %}
            Veer you are loading the entire original image for an avatar which is highly
            inefficient. Try lazy loading and reduce the size so that we can still see
            the avatar with reasonable clarity
            {% endcomment %}
            {% image value.photo original class="img-fluid border-radius-lg shadow-sm" %}
        </div>
    </div>
    <div class="col-auto my-auto">
        <div class="h-100">
            <h5 class="mb-1">{{ value.first_name }} {{ value.surname }}</h5>
            <p class="mb-0 font-weight-bold text-sm">{{ value.biography }}</p>
        </div>
    </div>
</div>
