<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-10">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Phone</p>
                            <h5 class="font-weight-bolder mb-0">{{ self.phone }}</h5>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="bi bi-telephone-inbound text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-10">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Whatsapp</p>
                            <h5 class="font-weight-bolder mb-0">{{ self.whatsapp }}</h5>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="bi bi-whatsapp text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-10">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Email</p>
                            <h5 class="font-weight-bolder mb-0">{{ self.email }}</h5>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="bi bi-envelope-at text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-10">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Website</p>
                            <h5 class="font-weight-bolder mb-0">{{ self.website }}</h5>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="bi bi-mailbox text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
