{% load static wagtailcore_tags wagtailimages_tags navigation_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% image page.feed_image original as tmp_photo %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Ventanita Team" />
    <meta name="keywords" content="Bus, Argentina, Tickets, Travel, Pasajes" />
    <meta name="author" content="Ventanita Team" />
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}" />
    {# djlint:off #}
    {% block og_tags %}

    <meta property="og:title" content="{% block og_title %}{{ page.title|default:"Explore Argentina by Bus" }}{% endblock og_title %}" />
    <meta property="og:url" content="{% block og_url %}{{ page.get_full_url }}{% endblock og_url %}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% block og_description %}{% spaceless %}{{ page.search_description|default:"Ventanita provides information about bus routes and their availability all over Argentina with easy booking service on both web and mobile." }}{% endspaceless %}{% endblock og_description %}" />
    <meta property="og:image" content="{% block og_img %}{{ tmp_photo.full_url }}{% endblock og_img %}" />
    <meta property="og:image:alt" content="{% block og_img_alt %}{{ tmp_photo.alt }}{% endblock og_img_alt %}" />
    <meta property="og:image:width" content="{% block og_img_w %}{{ tmp_photo.width }}{% endblock og_img_w %}" />
    <meta property="og:image:height" content="{% block og_img_h %}{{ tmp_photo.height }}{% endblock og_img_h %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:site_name" content="Ventanita" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

    <meta property="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock twitter_card %}">
    <meta property="twitter:creator" content="Ventanita" />
    <meta property="twitter:site" content="@Ventanita" />
    <meta name="twitter:title" content="{{ page.title|default:"Explore Argentina by Bus" }}" />
    <meta name="twitter:image" content="{{ tmp_photo.full_url }}" />
    <meta name="twitter:description" content="{% spaceless %}{{ page.search_description|default:"Ventanita provides information about bus routes and their availability all over Argentina with easy booking service on both web and mobile." }}{% endspaceless %}" />
    {% endblock og_tags %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/logos/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logos/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/logos/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'assets/img/logos/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'assets/img/logos/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <link rel="shortcut icon" href="{% static 'assets/img/logos/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="{% static 'assets/img/logos/browserconfig.xml' %}" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="{% static "assets/img/logos/ventanita.svg" %}" sizes="any" type="image/svg+xml" />
    <title>{% spaceless %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock title %}{% block title_suffix %} | {{ settings.base.SiteSettings.title_suffix }}{% endblock title_suffix %}{% endspaceless %}</title>
    {# djlint:on #}
    {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}" />{% endif %}
    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}<base target="_blank" />{% endif %}
    {% if not debug %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-FXKFW99W2Z"></script>
      <script>
           window.dataLayer = window.dataLayer || [];

           function gtag() {
                dataLayer.push(arguments);
           }
           gtag('js', new Date());
           gtag('config', 'G-FXKFW99W2Z');
      </script>
    {% endif %}
    {# Global stylesheets #}
    <link href="{% static 'assets/css/styles.min.css' %}" rel="stylesheet" type="text/css" />

    {% block extra_css %}
    {% endblock extra_css %}

  </head>
  {# djlint:off #}
  <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock body_class %}">

    {% block header %}
      {% include "includes/navigation.html" %}
    {% endblock header %}

    {% block messages %}
      {% include "includes/messages.html" %}
    {% endblock messages %}

    <main class="min-vh-50">
      {% block content %}{% endblock content %}
    </main>

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock footer %}

    <script type="text/javascript" src="{% static "assets/js/core/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/main.js" %}"></script>

    {% block modal %}{% endblock modal %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
  {# djlint:on #}
</html>
