{% extends 'layouts/base.html' %}

{% load i18n static %}

{% block title %}
  {% translate "Elegir Asiento" %}
{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'assets/css/seatchart.css' %}" />
{% endblock extra_css %}

{% block content %}
  <div class="row">
    <div class="col col-md-9 mx-auto">
      <h5 class="text-center">{% translate "Elegir Asiento" %}</h5>
      <div class="card card-plain">
        <div class="card-body seat-container"></div>
        <div class="card-footer d-flex justify-content-between">
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-round">{% translate "Atras" %}</a>
          <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-round bg-gradient-primary icon-link icon-link-hover" id="confirm" disabled>
              {% translate "Confirmar" %}
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <p>
    <code>
      {% if request.user.is_superuser %}{{ trip }}{% endif %}
    </code>
  </p>
{% endblock content %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/seatchart.min.js' %}"></script>
  <script defer src="{% static 'assets/js/seats.js' %}"></script>
  {{ trip|json_script:"trip" }}
{% endblock extra_js %}
