{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Paradas" %}
{% endblock title %}

{% block content %}
  <div class="container col-12 col-xl-9 min-vh-75">
    <div class="card mt-3">
      <div class="card-header pb-0 d-flex justify-content-between">
        <a href="{{ request.META.HTTP_REFERER }}" class="icon-link icon-link-hover">
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
          </svg>
        {% translate "Back" %}</a>
        <img src="{% static 'assets/img/company-logos/logo-cata-internacional.jpg' %}"
             width="100"
             height="33"
             alt="Logo of bus company {{ company.name }}"
             class="img-fluid"
             loading="lazy" />
      </div>
      <div class="card-body px-0">
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item d-flex">
            <div class="col-2 fw-bolder text-sm text-secondary">{% translate "Nro" %}</div>
            <div class="col-4 fw-bolder text-sm text-secondary">{% translate "Parada" %}</div>
            <div class="col-3 fw-bolder text-sm text-secondary">{% translate "Llega" %}</div>
            <div class="col-3 fw-bolder text-sm text-secondary">{% translate "Sale" %}</div>
          </li>
          {% for stop in route %}
            <li class="list-group-item list-group-item-action d-flex">
              <div class="col-2">{{ forloop.counter }}</div>
              <div class="col-4">{{ stop.name }}</div>
              <div class="col-3">{{ stop.arrival }}</div>
              <div class="col-3">{{ stop.departure }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
