{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
  template-searchresults
{% endblock body_class %}

{% block title %}
  {% translate "Buscar" %}
{% endblock title %}

{% block content %}
  <div class="container col-12 col-xl-9 pt-7 min-vh-75">
    <section class="pb-3">
      <h1 class="fs-5 mb-3">{% translate "Respuestas desde el equipo de Ventanita" %}</h1>
      <form action="{% url 'search' %}" method="get">
        <div class="input-group">
          <span class="input-group-text">
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#search" />
            </svg>
          </span>
          <input type="search"
                 class="form-control form-control-lg ps-2"
                 name="query"
                 value="{{ search_query|default:"" }}"
                 placeholder="Buscar"
                 autofocus
                 required />
        </div>
        <input type="submit" hidden />
      </form>
    </section>
    {% if search_results %}
      <article class="py-3">
        <p>
          You searched
          {% if search_query %}for "{{ search_query }}"{% endif %}
          , {{ search_results.paginator.count }} result{{ search_results.paginator.count|pluralize }} found.
        </p>
        <ul class="list-group list-group-flush">
          {% for result in search_results %}
            <li class="list-group-item list-group-item-action">
              <a href="{% pageurl result %}">{{ result }}</a>
              {% if result.search_description %}<p class="text-sm">{{ result.search_description }}</p>{% endif %}
            </li>
          {% endfor %}
        </ul>
      </article>
      {% if search_results.has_previous %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
      {% endif %}
      {% if search_results.has_next %}
        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
      {% endif %}
    {% elif search_query %}
      <article class="py-3">
        <p>No results found</p>
      </article>
    {% endif %}
  </div>
{% endblock content %}
