{% extends "layouts/base.html" %}

{% load static %}

{% load navigation_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% comment "Header 1 with text and image on right" %}{% endcomment %}
    <header>
        <div class="page-header min-vh-75">
            {% image page.feed_image original as tmp_photo %}
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                     style="background-image:url({{ tmp_photo.url }})"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                        {% comment %} {% breadcrumbs %} {% endcomment %}
                        <h1 class="display-1">{{ page.title }}</h1>
                        <p>{{ page.subtitle }}</p>
                        <p>{{ page.date }}</p>
                        {% for author in page.authors %}
                            <div class="author">
                                {% image author.image fill-50x50-c100 class="avatar rounded-circle" %}
                                <div class="name ps-3 pt-3">
                                    <p class="text-gradient text-primary">{{ author.first_name }} {{ author.last_name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% comment "Main content" %}{% endcomment %}
    <section class="my-md-5 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% comment "Table of contents" %}{% endcomment %}
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2 d-none d-md-block" style="top: 100px">
                        <a data-bs-toggle="collapse" href="#tableOfContents" role="button" aria-expanded="false" aria-controls="tableOfContents">
                            <h5 class="ms-3 pb-3">Table of contents</h5>
                        </a>
                        <div class="collapse show" id="tableOfContents">
                            <div class="list-group list-group-flush">
                                <a href="javascript:;" class="list-group-item list-group-item-action">Content Heading</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around py-5">
                            <i class="bi bi-twitter"></i>
                            <i class="bi bi-linkedin"></i>
                            <i class="bi bi-envelope"></i>
                            <i class="bi bi-link-45deg"></i>
                        </div>
                        <div class="card">
                            <div class="card-header pt-4 pb-3">
                                <span class="badge rounded-pill bg-light text-dark">Premium</span>
                                <h6 class="font-weight-bold mt-2">Experience scheduling automation for yourself!</h6>
                            </div>
                            <div class="card-body text-lg-start text-center pt-0">
                                Create a Falcon account in seconds.
                                <a href="javascript:;" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0">
                                    Sign up for free
                                    <i class="bi bi-arrow-right ms-1" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <p>{{ page.intro }}</p>
                    {{ page.body }}
                    <div class="card">
                        <div class="card-body">
                            <h2 class="mt-3">Boost creativity</h2>
                            <p>
                                The easiest way to get started is to use one of our
                                pre-built example pages. Get started with Falcon Routing today to maximize every revenue opportunity, get to each meeting milestone faster, and win more deals.
                            </p>
                            <a href="javascript:;" class="btn btn-icon bg-gradient-primary mt-3 mb-0">
                                Talk to Sales
                                <i class="bi bi-arrow-right ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment "Related Articles" %}{% endcomment %}
    <section class="pt-5 pb-0">
        <div class="container">
            <div class="d-flex justify-content-center my-5">
                <h1 class="display-6">Related Articles</h1>
            </div>
            <div class="row">
                {% for post in page.get_similar_posts %}
                    <div class="col-md-4 mt-4">
                        <div class="card h-100">
                            {% image post.feed_image width-400 class="card-img-top" %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% pageurl post %}">{{ post.title }}</a>
                                </h5>
                                <p class="card-text">{{ post.intro|truncatechars:120 }}</p>
                                <a href="{% pageurl post %}" class="card-link">Read Now
                                    <i class="bi bi-arrow-right ms-1" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h5>There are no related posts yet.</h5>
                {% endfor %}
            </div>
        </div>
    </section>
    {% comment "Posts with Similar Tags" %}{% endcomment %}
    <section class="pt-md-5">
        <div class="container">
            {% if page.get_tags %}
                <div class="d-flex justify-content-center my-5">
                    <h1 class="display-6">Find more blog posts with similar tags</h1>
                </div>
                <div class="text-center">
                    {% for tag in page.get_tags %}
                        <a href="{{ tag.url }}" class="btn rounded-pill btn-outline-dark me-2">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    <div class="container d-flex justify-content-center mt-sm-5 pt-5">
        <a href="{{ page.get_parent.url }}" class="btn btn-lg bg-gradient-primary">
            View All Blog Posts<i class="bi bi-arrow-right ms-1" aria-hidden="true"></i>
        </a>
    </div>
    {% comment "Call to action" %}{% endcomment %}
    <section class="py-sm-7" id="download-soft-ui">
        <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
            <img src="{% static 'assets/img/shapes/waves-white.svg' %}"
                 alt="pattern-lines"
                 class="position-absolute start-0 top-md-0 w-100 opacity-6">
            <div class="container py-7 postion-relative z-index-2 position-relative">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <h3 class="text-white mb-0">Do you love this awesome</h3>
                        <h3 class="text-primary text-gradient mb-4">Design System for Bootstrap 5?</h3>
                        <p class="text-white mb-5">
                            Cause if you do, it can be yours for FREE. Hit the button below
                            to navigate to Creative Tim where you can find the Design System
                            in HTML. Start a new project or give an old Bootstrap project a
                            new look!
                        </p>
                        <a href="" class="btn bg-gradient-primary mb-3 me-3 mb-sm-0">
                            Sign up for free
                            <i class="bi bi-arrow-right ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
