{% extends "layouts/base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- -------- START HEADER 1 w/ text and image on right ------- -->
    <header>
        <div class="page-header min-vh-75">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                     style="background-image:url({% static 'assets/img/curved-images/curved11.jpg' %})"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                        <p class="lead text-primary text-gradient">The Falcon Blog</p>
                        <h1 class="mb-4">{{ featured.title }}</h1>
                        <a href="{{ featured.url }}" class="card-link text-darker icon-move-right">Read article
                            <i class="fas fa-arrow-right ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- -------- END HEADER 1 w/ text and image on right ------ -->
    <!-- Top Articles -->
    <section class="py-5 my-5 bg-gray-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto my-5 text-center">
                    <h2>Explore our top articles</h2>
                </div>
            </div>
            <div class="row">
                {% for post in posts|slice:":3" %}
                    {% with post=post.specific %}
                        <div class="col-md-4 my-5">
                            <div class="card card-pricing h-100">
                                <div class="card-header bg-gradient-dark text-center pt-4 pb-5 position-relative">
                                    <div class="z-index-1 position-relative">
                                        <h5 class="text-white">Featured</h5>
                                        <h3 class="text-white">{{ post.title }}</h3>
                                    </div>
                                </div>
                                <div class="position-relative mt-n5" style="height: 50px;">
                                    <div class="position-absolute w-100">
                                        <svg class="waves waves-sm"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             viewBox="0 24 150 40"
                                             preserveAspectRatio="none"
                                             shape-rendering="auto">
                                            <defs>
                                            <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                                            </defs>
                                            <g class="moving-waves">
                                            <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
                                            <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                                            <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                                            <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                                            <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                                            <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% pageurl post %}">{{ post.title }}</a>
                                    </h5>
                                    <p class="card-text text-xs">Read Time 3 mins</p>
                                    <p class="card-text">{{ post.intro }}</p>
                                    <a href="{% pageurl post %}" class="card-link text-darker icon-move-right">Read Now
                                        <i class="fas fa-arrow-right ms-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Latest Articles -->
    <section class="pt-5 pb-0">
        <div class="container">
            <div class="d-flex justify-content-center my-5">
                <h2>Latest Articles</h2>
            </div>
            <div class="row">
                {% for post in posts %}
                    {% with post=post.specific %}
                        <div class="col-md-4 mt-4">
                            <div class="card h-100">
                                <img src="{% static 'assets/img/curved-images/curved6-small.jpg' %}" class="card-img-top" alt="Card Header">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% pageurl post %}">{{ post.title }}</a>
                                    </h5>
                                    <p class="card-text text-xs">Read Time 3 mins</p>
                                    <p class="card-text">{{ post.intro }}</p>
                                    <a href="{% pageurl post %}" class="card-link text-darker icon-move-right">Read Now
                                        <i class="fas fa-arrow-right ms-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% empty %}
                    <h5>There are no posts yet.</h5>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "includes/pagination.html" %}

    <!-- Call to Action -->
    <section class="py-sm-7" id="download-soft-ui">
        <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
            <img src="{% static 'assets/img/shapes/waves-white.svg' %}"
                 alt="pattern-lines"
                 class="position-absolute start-0 top-md-0 w-100 opacity-6">
            <div class="container py-7 postion-relative z-index-2 position-relative">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <h3 class="text-white mb-0">Do you love this awesome</h3>
                        <h3 class="text-primary text-gradient mb-4">Design System for Bootstrap 5?</h3>
                        <p class="text-white mb-5">
                            Cause if you do, it can be yours for FREE. Hit the button below
                            to navigate to Creative Tim where you can find the Design System
                            in HTML. Start a new project or give an old Bootstrap project a
                            new look!
                        </p>
                        <a href="" class="btn bg-gradient-primary mb-3 me-3 mb-sm-0">Sign up for free</a>
                        <a href="" class="btn bg-white mb-3 mb-sm-0">Talk to Sales</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
